<html>
    <head>Projekt koncowy | SUPER BLOG</head>
    <body>
        <div>
            <h1><a href="/">SUPER BLOG</a></h1>
        </div>

        <div>
            <p>published: 01-01-2019</p>
            <h2><a href="">My first post</a></h2>
            <p>de Finibus Bonorum et Malorum</p>
        </div>

        <div>
            <p>published: 02-02-2019</p>
            <h2><a href="">My secound post</a></h2>
            <p>de Finibus Bonorum et Malorum</p>
        </div>

        <p>Hi there</p>
        <p>It works</p>
    </body>
</html>